@font-face {
    font-family: pokefont;
    src: url(pokemonsolid.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 28px !important;
    font-family: pokefont;
}

#pokedex, .pokehead{
    width: 60%;
    height: auto;
    margin: 0% 20%;
    background: #db6f6f;
    float: left;
    border: 2px solid #890b0b;
}

#pokedex{
    border-top: 0px;
}

.pokehead{
    border-bottom: 0px;
}

.poketodos, .pokeok, .buscado, .buscar{
    width: 90%;
    height: auto;
    float: left;
    margin: 1% 5%;
}

.nombrepoketodos, .pokecarac{
    width: 60%;
    height: auto;
    float: left;
    margin: 0% 10% 0% 0%;
}

.nombrepoketodos{
    margin-top: 5%;
}

.imgpoketodos, .imgpokeok, .imgtipo{
    width: 30%;
    height: auto;
    float: left;
}

.imgtipo{
    width: 40%;
    margin-top: 8%;
}

.imgsex{
    width: 30%;
    margin-top: 1%;
}

.imgpokegrande{
    width: 50%;
    height: auto;
    float: left;
    margin: 0% 25%;
}

.pokefotook{
    width: 70%;
    height: auto;
    float: left;
    margin: 1% 15%;
}

.titulo{
    text-align: center;
}

.nombreok{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    font-size: 35px;
}